        <nav>
		<a href="/"><img class="logo" src="images/logo.jpg" alt="Logo"></a> 
	<ul>
                <li><a href="/about">About</a></li>
                <li><a target="_blank" href="https://example.com">Work</a></li>
                <li><a href="#contact">Contact</a></li>
		<li><a href="/auth/register">Register</a></li>
            </ul>
        </nav>
